.size {
  font-size: 0.8em;
  font-weight: 400;
  font-family: 'JetBrains Mono', monospace;
  color: var(--ifm-color-primary-lightest);
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-style: italic;
  user-select: none;
}
