/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  position: relative;
  overflow: hidden;
  padding: 4rem 0;
  text-align: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  transition: transform 250ms ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

.book {
  transform: translate3d(5px, 1px, 0);
}

.logo {
  width: 1em;
  height: 1em;
  transform: translate3d(0, calc(0.12 * 1em), 0);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}

.demo {
  width: 50%;
  height: 50%;
  border-radius: 4px;
}
