h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
ol,
blockquote,
table,
thead,
tbody,
td,
th,
tr {
  font-family: "Merriweather", serif !important;
}

pre,
code {
  font-family: "JetBrains Mono", monospace !important;
}

code {
  font-size: 89%;
  padding: 2px 4px;
}

pre {
  font-size: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

:root {
  background: #f8f8f8;
  --ifm-color-primary: #453ed0;
  --ifm-color-primary-dark: #3730c3;
  --ifm-color-primary-darker: #342db9;
  --ifm-color-primary-darkest: #2b2598;
  --ifm-color-primary-light: #5a54d5;
  --ifm-color-primary-lighter: #645fd8;
  --ifm-color-primary-lightest: #847fe0;
  --ifm-code-font-size: 100%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  background: #121212;
  --ifm-color-primary: #bbb8ff;
  --ifm-color-primary-dark: #918cff;
  --ifm-color-primary-darker: #7c76ff;
  --ifm-color-primary-darkest: #3d34ff;
  --ifm-color-primary-light: #e5e4ff;
  --ifm-color-primary-lighter: #fafaff;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  body {
    color: var(--ifm-color-primary-lighter);
  }
}
